/*     
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    table-layout: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: bold;
}

#titulo-centro {
    margin-bottom: 10px;
}

.select-container {
    margin: 2vh;
}

table {
    width: 90vw!important;
    max-width: 90vw!important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

table tbody tr {
    transition: background 0.5s;
}

table tbody tr:hover {
    background-color: rgba(187, 219, 155, 0.6)!important;
}

thead {
    background: #212529;
    color: white;
}

td p {
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.boton {
    color: white;
    font-weight: bold;
}

.boton a {
    text-decoration: none;
    color: white;
}

.boton-form {
    margin-top: 1vh;
}

.boton p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.color {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 1vh;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.color-rojo {
    background: crimson;
}

.color-azul {
    background: rgb(83, 133, 225);
}

.color-amarillo {
    background: rgb(218, 218, 25);
}

.color-verde {
    background: rgb(54, 197, 41);
}

.color-blanco {
    background: rgb(255, 255, 255);
}

.color-gris {
    background: rgb(146, 146, 136);
}

.hidden {
    display: none;
}

.ENTRADA {
    background: rgb(213, 245, 255)!important;
}

.SALIDA {
    background: rgb(255, 209, 209)!important;
}

.containerCabecera {
    background-image: url("../img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    border-bottom: 1px dashed black;
}

.seccion {
    padding-top: 4vh;
    padding-bottom: 4vh;
    background: rgb(250, 250, 250);
}

.titulo-seccion {
    color: black;
}

.btn-group button {
    background: #343A40;
    color: white;
    font-weight: bold;
    border-radius: 0;
}

.boton-excel {
    background: #28A745!important;
    border: #28A745!important;
    color: white!important;
}

.boton-excel:hover {
    background: #218538!important;
    border: #218538!important;
}

.boton-imprimir {
    background: #fd7e14!important;
    border: #fd7e14!important;
    color: white!important;
}

.boton-imprimir:hover {
    background: #c96310!important;
    border: #c96310!important;
}

.boton-crear {
    background: #dc3545!important;
    border: #dc3545!important;
    color: white!important;
}

.boton-crear:hover {
    background: #d65965!important;
    border: #d65965!important;
}

.dataTables_length {
    margin-top: 2vh;
}

#cabecera {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#inputBusqueda {
    max-width: 250px;
    display: inline;
}

#botonBusqueda {
    vertical-align: initial;
}

footer p {
    margin: 0;
    padding: 20px;
}

@media (max-width: 575.98px) {
    .boton {
        margin: 0.5vh;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .boton {
        margin: 0.5vh;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}