body {
    text-align: center;
}

#titulo-centro {
    font-size: 3rem;
}

.select-container {
    margin: 2vh;
}

table {
    width: 90vw!important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

table tbody tr {
    transition: background 0.5s;
}

table tbody tr:hover {
    background-color: rgba(187, 219, 155, 0.6)!important;
}

td p {
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.boton {
    color: white;
    font-weight: bold;
}

.boton-form {
    margin-top: 1vh;
}

.boton p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.color {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 1vh;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.color-rojo {
    background: crimson;
}

.color-azul {
    background: rgb(83, 133, 225);
}

.color-amarillo {
    background: rgb(218, 218, 25);
}

.hidden {
    display: none;
}


/*INSUMOS: IjMf[W8N0GOb7o9)**/

.seccion {
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.titulo-seccion {
    color: black;
    font-weight: bold;
}

.btn-group button {
    background: #343A40;
    color: white;
    font-weight: bold;
    border-radius: 0;
}

@media (max-width: 575.98px) {
    .boton {
        margin: 0.5vh;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .boton {
        margin: 0.5vh;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}